<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>
  <meta name="keywords" content={{keyword}} />

  <meta name="description" content={{description}} />
  <meta property="og:image" content="https://eeveindia.com/assets/images2/common/white-logo.jpg" />
  <link rel="canonical" href={{canonical}} />
  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style_new.css" rel="stylesheet">
  <link href="css/angle.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <link rel="icon" href="assets/images/logo.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127467406-2"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag("js", new Date())
    gtag("config", "UA-127467406-2")
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '659746651123078');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=659746651123078&ev=PageView&noscript=1(44 B)
  https://www.facebook.com/tr?id=659746651123078&ev=PageView&noscript=1
  " /></noscript>
  <!-- End Facebook Pixel Code -->
  {{!-- <!-- Pixel Code for https://hotmap.zapapps.io/ -->
  <script async src="https://hotmap.zapapps.io/pixel/davn4ZlUWLcijRFz"></script>
  <!-- END Pixel Code --> --}}

  <!-- Hotjar Tracking Code for eeveindia.com -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 1856877, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
      <a class="navbar-brand" href="/"><img src="/assets/images2/common/logo.png"
          alt="Electric scooter, ev bikes, ev india"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT</a>
          </li>
          <li class="nav-item">
            <div class="dropdown notvisible-phone">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonComp" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                PRODUCTS
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonComp">
                <div class="row">
                  <div class="col-md-3">
                    <a href="/xeniaa">
                      <img src="/assets/images2/common/xeniaa.png" class="img-fluid"
                        alt="Electric scooter, ev bikes, ev india">
                      <h4 class="c-blue ta-center">Xeniaa</h4>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="/4u">
                      <img src="/assets/images2/common/4u.png" class="img-fluid"
                        alt="Electric scooter, ev bikes, ev india">
                      <h4 class="c-blue ta-center">4U</h4>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="/wind">
                      <img src="/assets/images2/common/wind.png" class="img-fluid"
                        alt="Electric scooter, ev bikes, ev india">
                      <h4 class="c-blue ta-center">Wind</h4>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="/your">
                      <img src="/assets/images2/common/your.png" class="img-fluid"
                        alt="Electric scooter, ev bikes, ev india">
                      <h4 class="c-blue ta-center">Your</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown notvisible-comp">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonPhone"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PRODUCTS
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonPhone">
                <a class="dropdown-item" href="/xeniaa">Xeniaa</a>
                <a class="dropdown-item" href="/your">Your</a>
                <a class="dropdown-item" href="/4u">4U</a>
                <a class="dropdown-item" href="/wind">Wind</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dealers">DEALERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://blog.eeveindia.com">BLOG</a>
          </li>


          <li class="nav-item"><a href="/#testRide" class="btn-link btn btn-sm c-green-bg">TEST RIDE</a></li>
          <li class="nav-item"><a href="/booking" class="btn-link btn btn-sm c-green-bg">BOOK NOW</a></li>
        </ul>
      </div>
    </nav>
  </header>
  {{{body}}}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <p class="sm-para heavy-font c-green">Links</p>
          <div class="footer-links">
            <div class="row noPaddingMargin">
              <div class="col-6 noPaddingMargin">
                <a href="/about">
                  <p class="c-blue">About
                  </p>
                </a>
                <a href="/contact">
                  <p class="c-blue">Contact
                  </p>
                </a>
                <a href="/faq">
                  <p class="c-blue">FAQ
                  </p>
                </a>
                <a href="https://blog.eeveindia.com/">
                  <p class="c-blue">Blog</p>
                </a>
              </div>
              <div class="col-6 noPaddingMargin">
                <a href="https://www.linkedin.com/company/eeveindia/jobs/">
                  <p class="c-blue">Career</p>
                </a>
                <a href="/dealership">
                  <p class="c-blue">Become a Dealer
                  </p>
                </a>
                <a href="/privacy">
                  <p class="c-blue">Privacy Policy</p>
                </a>
                <a href="/pressrelease">
                  <p class="c-blue">Press Release</p>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-5 footer-newsletter">
          <p class="sm-para heavy-font c-green">Subscribe to Newsletter</p>
          <div class="input-group mb-3">
            <form method="post" action="https://formspree.io/mevbrvbx">
              <input type="text" class="form-control form-control-lg" placeholder="Your Email Address"
                aria-label="Your Email Address" aria-describedby="Your Email Address" name="email">

              <button class="btn c-green-bg">Send</button>

            </form>

          </div>
          <br>
          <div class="footer-social-links">
            <div class="row">
              <div class="col-lg-2 col-3 footer-social">
                <a href="https://facebook.com/eeveindia"><img src="/assets/images2/common/facebook.png"
                    data-aos="zoom-in" class="img-fluid" alt="Electric scooter, ev bikes, ev india"></a>
              </div>
              <div class="col-lg-2 col-3 footer-social">
                <a href="https://instagram.com/eeveindia"><img src="/assets/images2/common/instagram.png"
                    data-aos="zoom-in" class="img-fluid" alt="Electric scooter, ev bikes, ev india"></a>
              </div>
              <div class="col-lg-2 col-3 footer-social">
                <a href="https://twitter.com/eeveindia"> <img src="/assets/images2/common/twitter.png"
                    data-aos="zoom-in" class="img-fluid" alt="Electric scooter, ev bikes, ev india"></a>
              </div>
              <div class="col-lg-2 col-3 footer-social">
                <a href="https://linkedin.com/company/eeveindia"><img src="/assets/images2/common/linkedin.png"
                    data-aos="zoom-in" class="img-fluid" alt="Electric scooter, ev bikes, ev india"></a>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-12"><br><br>
          <p class="ta-center c-green"><span class="heavy-font">EeVe India</span> © 2019. All Rights Reserved.
            | Powered
            by <a href="https://provoz.co" class="c-green">Provoz</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        xfbml: true,
        version: 'v5.0'
      });
    };
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- Your customer chat code -->
  <div class="fb-customerchat" attribution=setup_tool page_id="2206101452745769" theme_color="#333366"
    logged_in_greeting="Hi! Welcome to EeVe. How can we help you?"
    logged_out_greeting="Hi! Welcome to EeVe. How can we help you?">
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/jquery.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="js/prebook.js"></script>
  <script src="js/booking.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="js/colorVariant.js"></script>
  <script>
    AOS.init({
      duration: 800,
      easing: 'ease',
    });
  </script>
  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".navbar-fixed-top");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
    });
  </script>
  {{!-- <script>
    $(document).ready(function () {
      console.log("Popup function")
      $('#myModal').modal('show');
    }); 
  </script> --}}
  <script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
      for (i = 0;i < items.length;i++) {
        items[i].setAttribute('aria-expanded', 'false');
      }

      if (this.getAttribute('aria-expanded') == 'false') {
        this.setAttribute('aria-expanded', 'true');
      }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));
  </script>
</body>

</html>